.aboutContainer {
  align-content: space-between;
}

.selfie {
  margin: 1rem;
  border-radius: 0;  
  height: 25vw;
  width: 50vw !important;
  object-fit: cover;
}

.aboutText {
  align-content: flex-start;
  padding: 0.5rem 1rem 0 0;  
  border-top: solid 1px white;   
}

.aboutText h2 {  
  font-size: 2vw; 
  font-weight: 100; 
  letter-spacing: -0.03em; 
  line-height: 1.1em;
}

.aboutText p {  
  font-size: 1vw; 
  font-weight: 100; 
  letter-spacing: -0.03em;
  line-height: 1.1em;
}

@media screen and (max-width: 1200px) {    
  .aboutText h2 {  
    font-size: 2.4vw;     
  }
  .aboutText p {  
    font-size: 1.2vw;     
  }
}

@media screen and (max-width: 992px) {  
  .selfie {
    margin: 0;
    padding: 0;
    border-radius: 0;  
    height: 50vw !important;    
    width: 100vw !important;
    object-fit: cover;
    margin-bottom: 1rem;    
  }   
}

@media screen and (max-width: 768px) {  
  .aboutText {    
    padding-left: 50%;  
    padding-right: 0;  
  } 
  .aboutText p {  
    font-size: 2vw;     
  }
  .aboutText {    
    padding-left: 20%;  
  }
 
}

@media screen and (max-width: 576px) {   
  .aboutText h2 {  
    font-size: 6vw;     
  }
  .aboutText p {  
    font-size: 3vw;     
  }
  .aboutText {    
    padding-left: 20%;  
  }
  
}