
.logo {
  object-fit: contain;
}

.baroni {
  margin-top: -4rem;
}

.subtitle {    
  font-size: 1.5rem;
  margin: -2rem 0 1rem 0;
}

.homeBG {
  height: 90vh;
  padding: 0.5rem;
  border-radius: 2rem;
  object-fit: cover;
  object-position: left;
}

h1 span {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 .h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}




