:root {
  --main-color: #191919;
  --second-color: #ece300;
  --third-color: white;
  --fourth-color: #e94f2d;
  --main-bg: #f2eadf;
  --second-bg: #babdb6;    
}

@font-face {
  font-family: 'Helvetica-Compressed';  
  src: url("../../assets/Helvetica-Compressed.otf");
}

.logo {
  object-fit: contain;
}

.baroni {
  margin-top: -4rem;
}

.subtitle {  
  font-family: "Helvetica-Compressed";
  font-size: 1.5rem;
  margin: -2rem 0 1rem 0;
}

.homeBG {
  height: 90vh;
  padding: 0.5rem;
  border-radius: 2rem;
  object-fit: cover;
  object-position: left;
}




