.contactContainer p {
  display: inline;   
  justify-self: center;  
  padding: 0.5rem;  
}

.projectMind {
  margin-top: calc(30vh - 2rem);
}

.contactContainer .h1 {
  margin-top: 1vw;      
}

.media {
  margin-top: 40vh;
  font-size: 2vw !important;  
}

.mailmeArrow {
  margin-top: 10rem;
  font-size: 2vw !important;  
  cursor: pointer;    
}



.medias {
  margin-top: 3vh;
  min-height: calc(100vh - 6.5rem);
  align-content: center;
}

.cv {
  margin-top: 5rem;  
}

.cv .mainText {
  margin-top: -1rem;  
}

.mediaLink {
  /* border: solid red; */
  width: auto !important;
  display: inline-block !important;
  position: relative;
  color: var(--main-color);
}

.mediaLink:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.mediaLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
