.contactContainer p {
  display: inline;   
  justify-self: center;  
  padding: 0.5rem;  
}

.projectMind {
  min-height: calc(100vh - 1rem - 28px - 32px - 2px);  
  align-content: center !important;
  padding-bottom: 4rem;
}

.contactContainer .h1 {
  margin-top: 1vw;      
}

.media {
  position: absolute;
  top: calc(100vh - 2rem - 1rem);
  right: 0;
  font-size: 2rem !important;  
}

.mailmeArrow {
  position: absolute;
  top: 100vh ;
  right: 0;
  font-size: 2rem !important;    
}

.medias {  
  min-height: calc(100vh - 1.5rem - 32px); 
  padding-top: 4rem; 
  align-content: center !important;
}

.cv {
  margin-top: 5rem;  
}

.cv .mainText {
  margin-top: -1rem;  
}

.mediaLink {
  /* border: solid red; */
  width: auto !important;
  display: inline-block !important;
  position: relative;
  color: var(--main-color);
}

.mediaLink:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.mediaLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 992px) {  
  .projectMind {
    min-height: calc(100vh - 1rem - 22px - 32px - 2px);    
  } 

  .media {    
    top: calc(100vh - 1.5rem - 0.75rem);    
    font-size: 1.5rem !important;  
  }

  .mailmeArrow {       
    font-size: 1.5rem !important;      
  }
  
  
}

@media screen and (max-width: 576px) {  
  .projectMind {
    min-height: calc(100vh - 1rem - 17px - 32px - 2px);    
  }
  .media {    
    top: calc(100vh - 1rem - 0.7rem);    
    font-size: 1rem !important;  
  }

  .mailmeArrow {       
    font-size: 1rem !important;      
  }
   
  
}
