

.header {  
  width: 100%;
  margin-top: 1rem;  
}

.linkHome {
  font-size: 1.5rem;
}

.navItem {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2vw; 
  font-weight: 100; 
  letter-spacing: -0.03em;
  line-height: 1.1em;
  padding: 0 0.5rem;
  width: auto !important; 
}

@media screen and (max-width: 1024px) {    
  .navItem {  
    font-size: 1.9vw;     
  }
}

@media screen and (max-width: 576px) {   
  .navItem {  
    font-size: 0.9rem;     
  }
  
}
