.header {  
  width: 100%;
  /* margin-top: 1rem;   */
  transition: all 0.5 ease-in-out;
  border: solid 1px var(--main-color);
}

.linkHome {
  font-size: 1.2rem;
  font-family: 'White-Inktra', sans-serif;
}

.navItem {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.8rem; 
  font-weight: 100; 
  letter-spacing: -0.03em;
  line-height: 1.1em;
  margin: 0 0.5rem;
  width: auto !important;  
  align-self: center !important;     
}

.footer .navItem {  
  margin: 0 1rem 0 0;
}

.menu {
  margin-top: -2px;
}

@media screen and (max-width: 992px) {
  .navItem { 
    font-size: 0.65rem;
  }
  .linkHome {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .header .navbarContainer .navItem {     
    padding-top: 0.5rem;
  }
  .navItem {     
    font-size: 0.5rem;
  }
  .linkHome {
    font-size: 0.8rem;
  }
}
