.workImg {
  border: solid #191919 1px;
  padding: 1rem;
}

.worksContainer .h1 {
  cursor: pointer;
}

.workTitle {
  cursor: pointer;  
  font-size: 6vw;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: -0.05em;  
}

.worksContainer .h1, .workType, .workDescription, .workLink {  
  color: #9b9797;
}

.workType, .workDescription, .workLink {  
  font-size: 1vw;   
  letter-spacing: -0.03em;
  line-height: 1.1em;
  margin-left: 0.4vw;  
}

.worksContainer .h1:hover {
  color: #191919;
}  

.worksContainer .h1 {     
  width: auto !important;
  display: inline-block !important;
  position: relative;  
}

.worksContainer .h1:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #191919;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.worksContainer .h1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.workLink:hover {
  color: #191919;
}  

.workLink {
  /* border: solid red; */  
  font-size: 0.9vw;
  width: auto !important;
  display: inline-block !important;
  position: relative;  
}

.workLink:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #191919;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.workLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



@media screen and (max-width: 1200px) {
  .workType, .workDescription, .workLink { 
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 767px) { 
  .work {
    border-bottom: #191919 solid 1px;
    padding-bottom: 0.5rem;
    margin-left: 10%;
    margin-bottom: 0.5rem;
  }
  .worksContainer h1 {
    cursor: auto;
  } 

 .workType, .workDescription, .workLink, .worksContainer .h1 {  
    color: #191919 !important;
  }  
  .worksContainer {
    margin: 0 auto;  
  }
  
}

@media screen and (max-width: 576px) {   
  .workType, .workDescription, .workLink {  
    font-size: 2.5vw;     
  }   
}

.activeWork{
  color: #191919 !important;
}
