.workImg {
  border: solid #191919 1px;
  padding: 1rem;
}

.worksContainer .h1 {
  cursor: pointer;
}

.workTitle {
  cursor: pointer;  
  font-size: 6vw;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: -0.05em;  
}

.worksContainer .h1, .workType, .workDescription, .workLink {  
  color: #9b9797;
}

.workType, .workDescription, .workLink {  
  font-size: 1vw; 
  font-weight: 100; 
  letter-spacing: -0.03em;
  line-height: 1.1em;
  margin-left: 0.4vw;  
}

.workLink {
  font-size: 0.7vw;
  display: inline;
  width: auto;
  cursor: pointer; 
  border-bottom: solid #9b9797 1px; 
}

.workLink:hover {
  color: #191919;
}



@media screen and (max-width: 1200px) {
  .workType, .workDescription, .workLink { 
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 769px) { 
  .work {
    border-bottom: #191919 solid 1px;
    padding-bottom: 0.5rem;
    margin-left: 10%;
    margin-bottom: 0.5rem;
  }
  .worksContainer h1 {
    cursor: auto;
  } 

 .workType, .workDescription, .workLink, .worksContainer .h1 {  
    color: #191919 !important;
  }  
  .worksContainer {
    margin: 0 auto;  
  }
  
}

@media screen and (max-width: 576px) {   
  .workType, .workDescription, .workLink {  
    font-size: 2.5vw;     
  }   
}

.activeWork{
  color: #191919 !important;
}
