.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.languageSelector {
  width: auto !important;
  margin: 0 0.1rem;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.languageSelector:hover {
  color: var(--fourth-color);
}