.footer {  
  width: 100%; 
  height: 1rem; 
}

.languageSelector {
  width: auto !important;
  margin: 0 0.1rem;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.languageSelector:hover {
  color: var(--fourth-color);
}