/* MIS ESTILOS */
/* :root {
  --main-color: #191919;
  --second-color: #ece300;
  --third-color: white;
  --fourth-color: #e94f2d;
  --main-bg: #f2eadf;
  --second-bg: #babdb6;  
} */
:root {
  --main-color: #f2eadf;
  --second-color: #ece300;
  --third-color: white;
  --fourth-color: #e94f2d;
  --main-bg: #090083;
  --main-bg: #0a0a0a;
  --second-bg: #a3a3a3;  
}

@font-face {
  font-family: 'Helvetica-Compressed';  
  src: url("./assets/Helvetica-Compressed.otf");
}
@font-face {
  font-family: 'n27';  
  src: url("./assets/N27-Regular.otf");
}
@font-face {
  font-family: 'White-Inktra';  
  src: url("./assets/ABCWhyteInktrap-Regular.otf");
}
@font-face {
  font-family: 'Clash-Regular';  
  src: url("./assets/ClashDisplay-Regular.otf");
}
@font-face {
  font-family: 'Clash-Medium';  
  src: url("./assets/ClashDisplay-Medium.otf");
}


* {
  list-style: none;  
  font-family: 'Roboto', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Anek Latin', sans-serif;
  font-size: 16px;  
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  color: var(--main-color);
}

.v {
  border: 1px solid var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);  
}

a:hover {
  color: var(--main-color);
}

p, label, input, .form-control { 
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: -0.08rem;
  margin: 0;                         
  padding: 0;  
  font-weight: 400;  
  color: var(--main-color);
}

.divContainer {
  padding: 2rem 0;
  /* 1rem paddin app 1rem margin navbar 28px navbar 2px border narvbar 1.5rem padding footer  */  
  min-height: calc(100vh - 1rem - 38px - 2px - 1.5rem);
  transition: all 0.5s ease-in-out;
}

.h1 { 
  font-family: 'Anek Latin', sans-serif;
  font-family: 'n27', sans-serif;
  font-family: 'White-Inktra', sans-serif;
  font-family: 'Clash-Medium', sans-serif;
  font-size: 8vw; 
  line-height: 1em;
  font-weight: 400; 
}

.h2 {  
  font-family: 'Clash-Medium', sans-serif;
  font-size: 5vw; 
  line-height: 1em;
  font-weight: 400; 
}

.mainText {  
  font-size: 1vw; 
  font-weight: 200; 
  letter-spacing: -0.03em;
  line-height: 1.1em;
}


input {
  color: black;
}

.hidden {
  visibility: hidden; 
  opacity: 0;
  transition: all 800ms ease-out;
}

.App {
  padding-top: 1rem;
  min-height: 100vh;  
}

@media screen and (max-width: 1200px) {
  .h1 {     
    font-size: 7vw;      
  }  
  .mainText {  
    font-size: 1.2vw;     
  }
}

@media screen and (max-width: 992px) {
  .divContainer {   
    /* 1rem paddin app 1rem margin navbar 22px navbar 2px border narvbar 1.5rem padding footer  */  
    min-height: calc(100vh - 1rem - 26px - 2px - 1.5rem);    
  }
}

@media screen and (max-width: 576px) {
  .h1 {     
    font-size: 10vw;      
  }  
  .mainText {  
    font-size: 2.5vw;     
  }
  .divContainer {   
    /* 1rem paddin app 1rem margin navbar 17px navbar 2px border narvbar 1.5rem padding footer  */  
    min-height: calc(100vh - 1rem - 19px - 2px - 1.5rem);    
  }
  
}




