/* MIS ESTILOS */
/* :root {
  --main-color: #191919;
  --second-color: #ece300;
  --third-color: white;
  --fourth-color: #e94f2d;
  --main-bg: #f2eadf;
  --second-bg: #babdb6;  
} */
:root {
  --main-color: #f2eadf;
  --second-color: #ece300;
  --third-color: white;
  --fourth-color: #e94f2d;
  --main-bg: #191919;
  --second-bg: #a3a3a3;  
}

@font-face {
  font-family: 'Helvetica-Compressed';  
  src: url("./assets/Helvetica-Compressed.otf");
}


* {
  list-style: none;  
  font-family: 'Roboto', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Anek Latin', sans-serif;
  font-size: 16px;  
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  color: var(--main-color);
}

.v {
  border: 1px solid var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: var(--main-color);
}

p, label, input, .form-control { 
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: -0.08rem;
  margin: 0;                         
  padding: 0;  
  font-weight: 400;  
  color: var(--main-color);
}

.divContainer {
  min-height: calc(100vh);
  transition: all 0.5s ease-in-out;
}

.h1 { 
  font-family: 'Anek Latin', sans-serif;
  font-size: 4.5rem;   
  letter-spacing: -0.15rem;
  line-height: 3.9rem;
  font-weight: 400;    
}

.h1b { 
  font-family: 'Anek Latin', sans-serif;
  font-size: 4.5rem;   
  letter-spacing: -0.15rem;
  line-height: 3.9rem;
  font-weight: 400; 
  color: var(--third-color);   
}

.h0 {
  font-family: 'Anek Latin', sans-serif;
  font-size: 10rem;   
  letter-spacing: -0.34rem;
  font-weight: 400;   
 /*  line-height: 10rem; */
}

.h0b {
  font-family: 'Anek Latin', sans-serif;
  font-size: 10rem;   
  letter-spacing: -0.34rem;
  font-weight: 500;   
  color: var(--third-color);
 /*  line-height: 10rem; */
}

input {
  color: black;
}

.hidden {
  visibility: hidden; 
  opacity: 0;
  transition: all 800ms ease-out;
}

.App {
  min-height: 100vh;
  background: var(--second-bg);  
  background: var(--main-bg);  
}

@media screen and (max-width: 1024px) {
  .titulo h1 {
    font-size: 2.8rem;
    font-weight: 100;  
    line-height: 3rem;
  }    

}

@media screen and (max-width: 768px) {
  .titulo h1 {
    font-size: 2rem;
    font-weight: 100; 
    line-height: 2rem;
  }  
  
}




