/* MIS ESTILOS */
:root {
  --main-color: #191919;
  --second-color: #ece300;
  --third-color: white;
  --fourth-color: #e94f2d;
  --main-bg: #f2eadf;
  --second-bg: #babdb6;  
}

@font-face {
  font-family: 'Helvetica-Compressed';  
  src: url("./assets/Helvetica-Compressed.otf");
}


* {
  list-style: none;  
  font-family: 'Roboto', sans-serif;
  font-size: 16px;  
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  color: var(--main-color);
}

.v {
  border: 1px solid var(--fourth-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: var(--main-color);
}

p, label, input, .form-control { 
  font-size: 1rem;
  margin: 0;                         
  padding: 0;  
  font-weight: 400;  
  color: var(--main-color);
}

.divContainer {
  min-height: calc(100vh - 2.45rem);
}

.h1 {
  font-family: "Helvetica-Compressed";
  font-size: 100px;   
  letter-spacing: 0.1rem;
  font-weight: 100;   
 /*  line-height: 10rem; */
}

.h1b {
  font-family: "Helvetica-Compressed";
  font-size: 100px;   
  letter-spacing: 0.1rem;
  font-weight: 100;   
  color: var(--third-color);
 /*  line-height: 10rem; */
}

.h0 {
  font-family: "Helvetica-Compressed";
  font-size: 10rem;   
  letter-spacing: 0.1rem;
  font-weight: 100;   
 /*  line-height: 10rem; */
}

.h0b {
  font-family: "Helvetica-Compressed";
  font-size: 10rem;   
  letter-spacing: 0.1rem;
  font-weight: 100;   
  color: var(--third-color);
 /*  line-height: 10rem; */
}

input {
  color: black;
}

.hidden {
  visibility: hidden; 
  opacity: 0;
  transition: all 800ms ease-out;
}

.App {
  min-height: 100vh;
  background: var(--main-bg);  
}

@media screen and (max-width: 1024px) {
  .titulo h1 {
    font-size: 2.8rem;
    font-weight: 100;  
    line-height: 3rem;
  }    

}

@media screen and (max-width: 768px) {
  .titulo h1 {
    font-size: 2rem;
    font-weight: 100; 
    line-height: 2rem;
  }  
  
}




